<div class="ui container" id="csvContainer">
    <div class="ui secondary  menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <div class="right menu">
            <div class="ui item">
                <div class="ui button">
                    Upload CSV
                </div>
            </div>
        </div>
    </div>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>John Lilki</td>
            <td>September 14, 2013</td>
            <td>jhlilk22@yahoo.com</td>
            <td>Noo</td>
        </tr>
        </tbody>
    </table>
</div>
